---
const defaultRegion = "cn";
---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content={`0;url=/${defaultRegion}/`}>
<link rel="canonical" href={`https://blog.nickalphawhite.top/${defaultRegion}/`}>
<script is:inline>
  location.replace('/cn/');
</script>
<style is:inline>html,body{background:#f2f2f4}@media(prefers-color-scheme:dark){html,body{background:#0a0a0c}}</style>
</head>
<body></body>
</html>
